
.git

node_modules
Clone do NETFLIX em REACTJS para Iniciantes.mp3
Clone do NETFLIX em REACTJS para Iniciantes.webm
video17.txt
nao_enviar



# dependencies

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*









