/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@font-face {
    font-family: 'Roboto-negrito';
    src: url('./fonts/Roboto-Bold.ttf');
}
               
@font-face {
     font-family: 'Roboto-regular';
     src: url('./fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
}
 
body {
    background-color: #111;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto-regular', sans-serif;
}

.listas {
    margin-top: -150px;
}

footer {
    margin: 50px 0;
    text-align: center;

}


