header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho--logo {
    height: 25px;
}

.cabecalho--logo img {
    height: 100%;
}

.cabecalho--usuario {
    height: 50px;
}

.cabecalho--usuario img {
    height: 100%;
    border-radius: 3px;
}








