
.listaFilmes {
    margin-bottom: 30px;
}

.listaFilmes h2 {
    margin: 0px 0px 0px 30px;
}
 
.listaFilmes--arealista {
    overflow-x: hidden;
    padding-left: 30px;
}
 
.listaFilmes--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.listaFilmes--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.4s;
}

.listaFilmes--item img:hover {
    transform: scale(1);
}




 
/* .listaFilmes--lista {
    width: 9999px;
}
 */