
.listaFilmes {
    margin-bottom: 30px;
}

.listaFilmes h2 {
    margin: 0px 0px 0px 30px;
}
 
.listaFilmes--arealista {
    overflow-x: hidden;
}
 
.listaFilmes--item {
    display: inline-block;
    width: 150px;
}

.listaFilmes--item img {
    width: 100%;
}
 
/* .listaFilmes--lista {
    width: 9999px;
}
 */